<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Document</title>
    <style>
        body {
            font-family: 'Roboto';
            font-size: 15px;
        }

        table,
        th,
        td {
            border: 1px solid;
        }

        .rp td {
            padding: 4px;
        }

        table {
            border-collapse: collapse;
        }

        .nb td {
            border-style: none;
        }

        .nb {
            margin-left: 15px;
        }

        td:nth-child(1) {
        /* your stuff here */
        width: 0.5cm;
        overflow: hidden;
        border-style: none;
        }

        td:nth-child(2) {
        /* your stuff here */
        width: 12.5cm;
        overflow: hidden;
        text-align: left;
        }

        td:nth-child(3) {
        /* your stuff here */
        width: 2.5cm;
        overflow: hidden;
        text-align: right;
        }

        td:nth-child(4) {
        /* your stuff here */
        width: 2.5cm;
        overflow: hidden;
        text-align: right;
        }

        td:nth-child(5) {
        /* your stuff here */
        width: 2.5cm;
        overflow: hidden;
        text-align: right;
        }

        td:nth-child(6) {
        /* your stuff here */
        width: 0.5cm;
        border-style: none;
        overflow: hidden;
        }
    </style>
</head>

<body>
    <table style="width: 21cm; table-layout: fixed;" width="100%" border="0" class="m_1055948762919877275envelope" cellpadding="0" cellspacing="0" style="background-color:#eaeaea" bgcolor="#eaeaea">
        <tr style="background-color: #cc0000; height: 20px;" class="nb">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td style="font-size: 24px; color: gray; padding: 60px 0px;">INVOICE</td>
            <td colspan="4"><img src="https://cbtest.lumea.in/img/Logo3.png" style="width: 211px; padding-right: 17px;" alt="" srcset=""></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td>Coralbeachstudios</td>
            <td></td>
            <td></td>
            <td style="font-weight: bold; color: grey; text-align: center; border-bottom: 1px solid; border-width: 2px; font-size: 14px;">DATE</td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td>www.coralbeachstudios.com</td>
            <td></td>
            <td></td>
            <td style="text-align: center; font-size: 14px;">19-May-2023</td>
            <td></td>
        </tr class="nb">
        <tr class="nb">
            <td></td>
            <td>coralbeachstudios@gmail.com</td>
            <td></td>
            <td></td>
            <td style="font-weight: bold; color: grey; text-align: center; border-bottom: 1px solid; border-width: 2px; font-size: 14px;">INVOICE NO.</td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td>Phone: +91 9497234345, +91 8136838049</td>
            <td></td>
            <td></td>
            <td style="text-align: center; font-size: 14px;">3598</td>
            <td></td>
        </tr>
        <tr class="nb" style="height: 25px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td style="font-weight: bold; color: grey; border-bottom: 1px solid; border-width: 2px; font-size: 14px;">BILL TO</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td rowspan="3" style="padding-bottom: 40px;
    padding-top: 22px;"> sekjfhskhf jkewhrjk ewhjkrhewjkrh kewhrkj ehrkjehrkj ewhrkjewhrjhewkjthjewthjkewthjk</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="nb">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="font-weight: 900; padding: 2px;">
            <td></td>
            <td style="text-align: center; padding: 7px;">DESCRIPTION</td>
            <td style="text-align: center; padding: 7px;">CHARGE</td>
            <td style="text-align: center; padding: 7px;">DISCOUNT</td>
            <td style="text-align: center; padding: 7px;">AMOUNT</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td>Video Shoot (₹2000/hr) - 6hrs</td>
            <td>₹12,000.00</td>
            <td>₹0.00</td>
            <td>₹12,000.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td>Video Editing After Movie</td>
            <td>₹3,000.00</td>
            <td>₹0.00</td>
            <td>₹3,000.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td>Video Editing Musical Live</td>
            <td>₹2,000.00</td>
            <td>₹0.00</td>
            <td>₹2,000.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td>Photography Shoot (1000/hr) - 6hrs</td>
            <td>₹6,000.00</td>
            <td>₹0.00</td>
            <td>₹6,000.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td>Photo editing</td>
            <td>₹1,600.00</td>
            <td>₹0.00</td>
            <td>₹1,600.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td>Gear rent</td>
            <td>₹1,500.00</td>
            <td>₹0.00</td>
            <td>₹1,500.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>₹0.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>₹0.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>₹0.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>₹0.00</td>
            <td></td>
        </tr>
        <tr class="rp">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>₹0.00</td>
            <td></td>
        </tr>
        <tr class="rp nb">
            <td></td>
            <td></td>
            <td></td>
            <td style="font-size: 12px; font-weight: 900; color: grey;">SUBTOTAL</td>
            <td>₹26,100.00</td>
            <td></td>
        </tr>
        <tr class="rp nb">
            <td></td>
            <td>Remarks, notes....</td>
            <td></td>
            <td style="font-size: 12px; font-weight: 900; color: grey;">DISCOUNT</td>
            <td>₹6,100.00</td>
            <td></td>
        </tr>
        <tr class="rp nb">
            <td></td>
            <td></td>
            <td style="font-size: 12px; font-weight: 900; color: grey;" colspan="2">SUBTOTAL LESS DISCOUNT</td>
            <td>₹20,000.00</td>
            <td style="border-style: none;"></td>
        </tr>
        <tr class="rp nb"class="rp nb">
            <td></td>
            <td></td>
            <td style="font-size: 15px; font-weight: 900; color: grey;" colspan="2">TOTAL AMOUNT</td>
            <td style="font-weight: 900;">₹20,000.00</td>
            <td style="border-style: none;"></td>
        </tr>
        <tr style="height: 50px;" class="nb">
            <td></td>
            <td colspan="4"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="6" style="padding-left: 22px;">Company Signature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Client Signature</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
                <tr style="height: 50px;" class="nb">
            <td></td>
            <td colspan="4"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
                <tr style="background-color: #cc0000; height: 20px;" class="nb">
            <td rowspan="6"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>

</html>