.custom-padding-t50 {
    padding-top: 50px;
}

.custom-padding-b65 {
    padding-bottom: 65px;
}

.custom-padding-menu {
    padding-bottom: 0%;
}

.custom-margin-b40 {
    margin-bottom: 40px;
}

.custom-margin-landing {
    margin-top: 85px;
}

.custom-margin-landing2 {
    margin-top: 30px;
}

.custom_mt30 {
    margin-top: 30px;
}

.custom_mt524 {
    margin-top: 524px;
}

.portfolio-mt {
    margin-top: -184px;
}

.portfolio-height {
    min-height: 55vh;
}

.cont-cus-margin-top {
    margin-top: 150px;
}

.cont-cus-margin-bottom {
    margin-bottom: 315px;
}

.cus-flex-base {
    display: flex;
    padding-top: 27px;
    align-items: baseline;
    justify-content: center;
}

.client-bg-img {
    background-image: url(../img/clients/clients_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0;
}

.feature {
    display: grid;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.feature>* {
    grid-area: 1/1;
    transition: 10s;
}

.feature figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: 0.75rem;
    background: var(--c, #0009);
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
}

.feature:hover .img-scale {
    transform: scale(1.2);
}

.glassmorph1 .brands .item {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorph_services {
    background: rgba(255, 255, 255, 0.7) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorph_services ul li {
    text-align: left;
}

.services_bg_img {
    background-image: url("../../ui/img/services/ser_bg.png"); 
    background-attachment: fixed; 
    padding: 20px;  
    border-radius: 15px; 
    background-position: center;
}

.soc-ico-mt {
    margin-top: 140px !important;
    /* margin-right: 7%; */
}

/* .cont-info {
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 0;
    height: 100%;
    padding-top: 50%;
    padding-left: 0;
    text-align: center;
    /* vertical-align: bottom; */
/* color: #fff;
    background: var(--c, #0009);
    transition: .5s ease; */
/* } */

.feature:hover .cont-info {
    z-index: 1;
    width: 100%;
}

.feature:hover .cont-txt h6 {
    transform: translate(53px, 94px);
}

.cont-txt h6 {
    white-space: nowrap;
    margin-left: -108px;
}

.cont-txt h4 {
    white-space: nowrap;
    margin-left: -533px;
}

.feature:hover .cont-txt h4 {
    transform: translate(273px, 90px);
}

.landing-txt {
    font-size: 75px;
}

.faded {
    position: relative;
    display: inline-block;
    color: white;
}

.faded:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

.faded.faded-top:after {
    box-shadow: inset 0 40px 40px -16px;
}

.shadow-title-cont {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow-title {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.2em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 150px;
    transition: all 0.25s ease-out;
}

.shadow-title:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

/* .cont-txt h4 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, 50%);
    white-space: nowrap;
} */
/* custom glass cards */
.custom-card-container {
    position: relative;
}

.custom-card-container::before,
.custom-card-container::after {
    content: "";
    background-color: #e3016036;
    position: absolute;
}

.custom-card-container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
}

/* .custom-card-container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
} */

.custom-card-container .box {
    width: 100%;
    height: 9em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    /* border: 1px solid rgba(255, 255, 255, 0.222); */
    /* box-shadow: 0px 0px 20px 1px #a6a2eb; */
    /* border: 1px solid rgba(255, 255, 255, 0.454); */
    /* -webkit-backdrop-filter: blur(20px); */
    /* backdrop-filter: blur(20px); */
    /* border-radius: .7rem; */
    transition: all ease .3s;
}

.custom-card-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-card-container .box .title {
    font-size: 1.2rem;
    font-weight: 500;
    /* letter-spacing: .05em */
}

.custom-card-container .box div strong {
    display: block;
    margin-bottom: .5rem;
}

.custom-card-container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
}

.custom-card-container .box div span {
    font-size: .7rem;
    font-weight: 300;
}

.custom-card-container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
}

/* .custom-card-container .box:hover {
    box-shadow: 0px 0px 20px 1px #fa85ac;
    border: 1px solid rgba(255, 255, 255, 0.454);
} */

/* custom glass cards end */

/* custom btn for service page */
.cus-serv-btn {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.4em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #1108a4 0%, #ff0057 51%, #1108a4 100%);
}

.cus-serv-btn .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cus-serv-btn .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    /* background: var(--primary-color); */
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.cus-serv-btn .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.cus-serv-btn:hover {
    background-color: var(--hover-color);
    background-position: right center;
}

.cus-serv-btn:hover .arrow {
    background: var(--secondary-color);
}

.cus-serv-btn:hover .arrow:before {
    right: 0;
}

.services-img-width {
    max-width: 180%;
}

.custom-img-trans {
    margin: 20vh 0 0 !important;
    height: 69vh !important;
}

/* =================== For screens with a width of 320px or more: ==========================*/
@media screen and (min-width: 320px) {

    /* Your styles for this screen width go here */
    .custom-margin-landing {
        margin-top: 10%;
    }

    .custom-margin-landing2 {
        margin-top: 5%;
    }

    .text-fader .text-content {
        font-size: 1.2em;
    }

    .text-fader {
        margin: -30% 0 0 10%;
    }

    .custom_mt524 {
        margin-top: 1%;
    }

    .soc-ico-mt {
        margin-top: 15% !important;
        margin-bottom: 12% !important;
        /* margin-right: 7%; */
    }

    header.simpl {
        min-height: 87vh !important;
    }
}

/* =================== For screens with a width of 768px or more: ==========================*/
@media screen and (min-width: 768px) {
    .custom-img-trans {
        height: 82vh !important;
        margin: 15vh 0 0 !important;
    }

    .custom-margin-landing {
        margin-top: -30%;
    }

    .custom-margin-landing2 {
        margin-top: -2%;
    }

    .text-fader .text-content {
        font-size: 1.8em;
    }

    .text-fader {
        margin: -30% 0 0 15%;
    }

    .soc-ico-mt {
        margin-top: 12% !important;
        margin-bottom: 12% !important;
        /* margin-right: 7%; */
    }

    .main-content {
        margin-top: 70% !important;
    }
}

/* =================== For screens with a width of 1024px or more: ==========================*/
@media screen and (min-width: 1024px) {

    /* Your styles for this screen width go here */
    .custom-margin-landing {
        margin-top: -4%;
    }

    .custom-margin-landing2 {
        margin-top: 12%;
    }

    .text-fader .text-content {
        font-size: 2.2em;
    }

    .text-fader {
        margin: -30% 0 0 0;
    }

    .soc-ico-mt {
        margin-top: 30% !important;
        margin-bottom: 12% !important;
        /* margin-right: 7%; */
    }

    .main-content {
        margin-top: 50% !important;
    }
}

/* =================== For screens with a width of 1440px or more: ==========================*/
@media screen and (min-width: 1440px) {

    /* Your styles for this screen width go here */
    .custom-margin-landing {
        margin-top: 5%;
    }

    .custom-margin-landing2 {
        margin-top: 30%;
    }

    .text-fader .text-content {
        font-size: 2.7em;
    }

    .text-fader {
        margin: -30% 0 0 20%;
    }

    .soc-ico-mt {
        margin-top: 20% !important;
        margin-bottom: 12% !important;
        /* margin-right: 7%; */
    }

    .main-content {
        margin-top: 50% !important;
    }
}

/* =================== For screens with a width of 2560px or more: ==========================*/
@media screen and (min-width: 2560px) {

    /* Your styles for this screen width go here */
    .custom-margin-landing {
        margin-top: 5%;
    }

    .custom-margin-landing2 {
        margin-top: 20%;
    }

    .text-fader .text-content {
        font-size: 5em;
    }

    .text-fader {
        margin: -30% 0 0 0;
    }

    .soc-ico-mt {
        margin-top: 25% !important;
        margin-bottom: 12% !important;
        /* margin-right: 7%; */
    }

    .main-content {
        margin-top: 50% !important;
    }
}

/* media query laptop */
/* If [device width] is less than or equal to 1300px, then do {…} */
@media only screen and (max-width: 1300px) {

    .nav-dy-width {
        width: 87%;
    }

    .landing-elmnt {
        /* margin-top: -88px; */
        padding-top: 220px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar .logo {
        width: 100px;
    }

    .nav-dy-width {
        margin-top: 24px;
    }

    .custom_mt30 {
        margin-top: 0px;
    }

    .custom-padding-menu {
        padding-bottom: 5%;
    }
}

/* media query 992 end */

/* ================= RESPONSIVE SECTION END ======================== */